<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<style>
    #weatherIcon {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
</style>
<body class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">Weather App</a>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto">
                                {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/settings">Settings</a>
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Register</a>
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="card-body">
                        <h2 class="text-center mb-4">Check Weather</h2>
                        <form id="weatherForm">
                            <div class="form-group">
                                <input type="text" class="form-control" name="city" id="citySearch" placeholder="Search for a city..." required autocomplete="off">
                                <div id="suggestions" class="suggestions-box"></div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Check</button>
                        </form>
                    </div>
                </div>

                {% if current_user.is_authenticated %}
                <div class="container">
                    <div id="weatherData" class="mt-4">
                        <h3 id="cityName" class="text-center"></h3>
                        <div class="text-center my-3">
                            <img id="weatherIcon" width="50" height="50" src="" alt="">
                        </div>
                        <p id="weatherDescription" class="text-center font-weight-bold"></p>
                        <p id="temperature" class="text-center text-primary"></p>
                        <div id="buttonContainer"></div>
                    </div>
                    <div class="chart-container">
                        <canvas id="forecastChart" width="400" height="200"></canvas>
                    </div>
                </div>
                {% else %}
                <div class="container mt-5">
                    <div class="alert alert-info">
                        Please <a href="/login">login</a> to view the weather details for selected location.
                    </div>
                </div>
                {% endif %}
                <div id="map" class="mt-4" style="width: 100%; height: 400px;"></div>
                {% if current_user.is_authenticated %}
                    <div id="articlesContainer"></div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        let map = L.map('map').setView([46.921828, -4.158597],1);
        const cities = ["New York", "London", "Tokyo", "Paris"];

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);
    
        function displayCityWeather(cityData) {
        L.marker([cityData.lat, cityData.lon]).addTo(map)
            .bindPopup(`
                <strong>${cityData.city}</strong><br>
                ${cityData.description}<br>
                <img src="http://openweathermap.org/img/w/${cityData.icon}.png" alt="${cityData.description}" width="50" height="50"><br>
                ${ (cityData.temperature - 273.15).toFixed(0) }°C
            `)
            .openPopup();
        }

        function displayArticles(articles){
            let articlesHTML = '<h2>News Articles</h2>';
            
            if (articles.length > 0) {
                articlesHTML += '<ul>';
                for (let article of articles) {
                    articlesHTML += `
                    <li>
                        <a href="${article.url}" target="_blank">${article.title}</a>
                        <br>
                    </li>
                    `;
                }
                articlesHTML += '</ul>';
            } else {
                articlesHTML = ' <h2>News Articles</h2> <br> <p>No articles about this city</p>';
            }
        
            document.getElementById('articlesContainer').innerHTML = articlesHTML;
        }

        fetch('/get_multiple_weather', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ cities })
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(displayCityWeather);
        });

        $('#citySearch').on('input', function() {
            const query = $(this).val();

            if (query.length > 2) {
                $.get('/search_city', { q: query }, function(data) {
                    let suggestionsHtml = '';
                    data.forEach(city => {
                        suggestionsHtml += `<div class="suggestion-item">${city}</div>`;
                    });
                    $('#suggestions').html(suggestionsHtml);
                });
            } else {
                $('#suggestions').empty();
            }
        });

        $('#suggestions').on('click', '.suggestion-item', function() {
            $('#citySearch').val($(this).text());
            $('#suggestions').empty();
        });

        document.getElementById('weatherForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const city = e.target.city.value;

            fetch('/get_weather', {
                method: 'POST',
                body: new URLSearchParams({ 'city': city }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    return;
                }

                document.getElementById('cityName').textContent = data.city;
                document.getElementById('weatherIcon').src = "http://openweathermap.org/img/w/" + data.icon + ".png";
                document.getElementById('weatherIcon').style.display = "block";
                document.getElementById('weatherDescription').textContent = data.description;
                document.getElementById('temperature').textContent = (data.temperature - 273.15).toFixed(0) + "°C";  // Convert Kelvin to Celsius
                
                map.setView([data.lat, data.lon], 5);
                
                L.marker([data.lat, data.lon]).addTo(map)
                    .bindPopup(`
                        <strong>${data.city}</strong><br>
                        ${data.description}<br>
                        <img src="http://openweathermap.org/img/w/${data.icon}.png" alt="${data.description}" width="50" height="50"><br>
                        ${ (data.temperature - 273.15).toFixed(0) }°C
                    `)
                    .openPopup();
            });

            fetch('/forecast', {
                method: 'POST',
                body: new URLSearchParams({ 'city': city }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }) 
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    return;
                }   

                const dates = Object.keys(data);
                const temperatures = Object.values(data);

                const ctx = document.getElementById('forecastChart').getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dates,
                        datasets: [{
                            label: 'Max Temperature (°C)',
                            data: temperatures,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            fill: true
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
            
            let oldButton = document.getElementById("addFavouriteBtn");
            if (oldButton) {
                oldButton.remove();  // Remove the old button
            }

            let newButton = document.createElement('button');
            newButton.id = "addFavouriteBtn";
            newButton.innerText = "Add to favourites";
            newButton.className = "btn btn-primary"; 


            let container = document.getElementById("buttonContainer");
            container.className = "d-flex justify-content-center";
            container.appendChild(newButton);

            // Add an event listener to the new button
            newButton.addEventListener('click', function() {
                const data = {
                    city_name: city
                };
                
                fetch('/add_favourite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    // Here, we handle the response from the server.
                    if (data.isFavorite) {
                        alert('This city is already in your favorites!');
                    } else {
                        alert('City added to your favorites!');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('City added to your favorites!');
                });
            });

            let oldButtonNotifications = document.getElementById("enableNotificationsBtn");
            if (oldButtonNotifications) {
                oldButtonNotifications.remove();  // Remove the old button
            }

            let newButtonNotifications = document.createElement('button');
            newButtonNotifications.id = "enableNotificationsBtn";
            newButtonNotifications.innerText = "Send e-mail notifications at 08:00AM";
            newButtonNotifications.className = "btn btn-primary"; 

            container.appendChild(newButtonNotifications);

            newButtonNotifications.addEventListener('click', function() {
                const data = {
                    city_name: city
                };
                
                fetch('/send_scheduled_notifications', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    // Here, we handle the response from the server.
                    if (data.hasUnconfirmedEmail) {
                        alert('Your email is not confirmed.');
                    } else {
                        alert('You have scheduled a weather e-mail for selected city');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Some error occured');
                });
            });

            const data = {
                    city_name: city
            };
            
            fetch('/get_local_news', {
                method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    return;
                } else {
                    displayArticles(data.articles);
                }
            })
            .catch(error => {
                console.error('There was an error with the fetch:', error);
            });
        });
        
    </script>

</body>
</html>
